# Directories #
/build/
/bin/
target/
Servers/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
  
######################
# Eclipse
######################
 
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
local.properties
.classpath
.settings/
.loadpath
.springBeans

# External tool builders
.externalToolBuilders/
  
# PDT-specific
.buildpath